parameters:
    scopeClass: Teknoo\States\PHPStan\Analyser\Scope
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            message: '#Cannot call method isInstance\(\) on ReflectionClass\|null#'
            path: src/Bowl
        -
            message: '#Parameter \#1 \$[a-zA-Z]+ of class ReflectionClass constructor expects class-string\<T of object\>\|T of object, string given#'
            path: src/Bowl
        -
            message: '#Unsafe usage of new static#'
            path: src/Promise/Promise.php
        -
            message: '#Generator expects value type [a-zA-Z0-9\\_]+, [a-zA-Z0-9\\_]+\|false given#'
            path: src/Recipe.php
        -
            message: '#Array \(array<[a-zA-Z0-9\\_]+>\) does not accept \(callable\)\|[a-zA-Z0-9\\_]+#'
            path: src/Recipe/Draft.php
services:
	-
		class: Teknoo\States\PHPStan\MethodsClassExtension
		tags:
			- phpstan.broker.methodsClassReflectionExtension