parameters:
    level: max
    paths:
        - src/
        - tests/Support/
    ignoreErrors:
        -
            message: '#Unsafe usage of new static#'
            path: src/Promise/AbstractPromise.php
        -
            message: '#Generator expects value type [a-zA-Z0-9\\_]+, [a-zA-Z0-9\\_]+\|false given#'
            path: src/Recipe.php
        -
            message: '#expects Throwable, mixed given#'
            path: src/CookingSupervisor.php
        -
            message: '#If condition is always false#'
            path: src/CookingSupervisor.php
        -
            message: '#Strict comparison using === between false and Fiber#'
            path: src/CookingSupervisor/FiberIterator.php
        -
            message: '#Teknoo\\Recipe\\Chef::\$stepsNames#'
            path: src/Chef.php
        -
            message: '#is declared as covariant#'
            path: src/Promise
