parameters:
    ignoreErrors:
        -
            message: '#Cannot call method isInstance\(\) on ReflectionClass\|null#'
            path: src/Bowl
        -
            message: '#Parameter \#1 \$[a-zA-Z]+ of class ReflectionClass constructor expects class-string\<T of object\>\|T of object, string given#'
            path: src/Bowl
        -
            message: '#Unsafe usage of new static#'
            path: src/Promise/Promise.php
        -
            message: '#Generator expects value type [a-zA-Z0-9\\_]+, [a-zA-Z0-9\\_]+\|false given#'
            path: src/Recipe.php
services:
    -
        class: Teknoo\States\PHPStan\MethodsClassExtension
        arguments:
            parser: @defaultAnalysisParser
        tags:
            - phpstan.broker.methodsClassReflectionExtension

    -
        class: Teknoo\States\PHPStan\Analyser\ASTVisitor
        arguments:
            parser: @defaultAnalysisParser

    -
        class: Teknoo\States\PHPStan\Analyser\NodeScopeResolver
        autowired: PHPStan\Analyser\NodeScopeResolver
        arguments:
            parser: @defaultAnalysisParser
            classReflector: @nodeScopeResolverClassReflector
            polluteScopeWithLoopInitialAssignments: %polluteScopeWithLoopInitialAssignments%
            polluteScopeWithAlwaysIterableForeach: %polluteScopeWithAlwaysIterableForeach%
            earlyTerminatingMethodCalls: %earlyTerminatingMethodCalls%
            earlyTerminatingFunctionCalls: %earlyTerminatingFunctionCalls%
            implicitThrows: %exceptions.implicitThrows%
